{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cour</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ cour.adresse }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cour.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour.date }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ cour.time }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ cour.duration }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ cour.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('api_cours_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
